.app{
  /* background:url("https://www.google.co.in/images/srpr/logo11w.png") center center no-repeat;opacity:0.6; */

  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;

}
body{
  background-color: #F6FCFF;
  background-image: url("images\watermark.jpg");
}
/* #F6FCFF */